.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    padding: 20px;
  }
   
   
   
  .card-container img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
  }
   
  .card-container h1 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 10px;
  }
  