@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap");

.home-felirat {
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  margin-left: 20px;
  color: #b0886f;
}

.my-name {
  color: inherit;
  text-decoration: none;
}

.my-name:hover {
  color: #b0886f;
}

.home-button {
  font-size: xx-large;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #b0886f;
}

.my-element {
  background-color: #ffffff;
}

.clicked {
  background-color: #ced4da;
  color: #b0886f;
}

.my-element:hover {
  background-color: #ced4da;
  transition: background-color 0.3s ease-in-out;
}

.my-navbar {
  background-color: #ced4da !important;
}

body {
  background-color: #e6e6e6;
}

.list-element {
  background-color: #ffffff88 !important;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.my-offcanvas-header {
  background-color: #ced4da;
}

.my-clock {
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  font-weight: bold;
}

.name-felirat-div {
  margin-top: 100px;
  margin-left: 100px;
  font-family: "Poppins", sans-serif;
}

.and {
  color: #b0886f;
}

.my-image {
  border: 5px solid #b0886f;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3 ease, box-shadow 0.3 ease;
  margin-top: 20px;
}

.my-image:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

/* halo */
.player-container {
  background-color: #f0f0f0;
  border: 1px solid #b0886f;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
}
.album-art {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 2px solid #b0886f;
  border-radius: 10px;
}
.play-pause-btn {
  background-color: #b0886f;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
