@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

.my-font-style{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.home-button{
    font-size: xx-large;
}

.emberek-button{
    cursor: pointer;
    min-width: 100%;
}

.my-element {
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    background-color: #ffffff;
    padding: 10px;
}

.clicked {
    background-color: #ced4da;
}

.my-element:hover {
    background-color: #ced4da;
    transition: background-color 0.3s ease-in-out;

}

.my-navbar{
    background-color: #ced4da !important;
}

body{
    background-color: #e6e6e6;
}

.list-element{
    background-color: #ffffff88 !important;
}

.my-offcanvas-header{
    background-color: #ced4da;

}